.textos1 {
    font-weight: bold !important;
    
}

.imagem {

    background-image: url(https://i.imgur.com/2Yo2JBK.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center
}

.text-decorator-none {
    text-decoration: none;
}

.entrar{
    background: rgb(219,183,159);
    background: linear-gradient(90deg, rgba(219,183,159,1) 0%, rgba(186,101,69,1) 35%, rgba(126,46,31,0.8323704481792717) 100%);
}

.escrita{
    background: white
}